*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}

/* NAVBAR */
#busqueda{
    width: 100%;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 100px;
}

.nav-middle .mic-icon{
    width: 16px;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 40vw;
    border: none;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}

/*Principal*/
.todo{
    display: grid;
    grid-template-columns: 5% 95%;
    width: 100%;
    height: 100%;
}

/*SIDEBAR*/

.menu-lateral{
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
    display: none;
    top: 0; 
    padding-top: 90px;
    margin-bottom: 15px;
}
.menu-lateral.active{
    overflow-y:scroll;
    overflow-x: hidden;
    height: 100%;
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s all ease-in-out;
    align-items: start;
    position: absolute;
}

.menu-lateral a p{
    display: none;
    font-size: 0.7vw !important;
}
.menu-lateral h3{
    display: none;
    font-size: 1vw;
}
.menu-lateral p{
    display: none;
}

/*DISPLAY ACTIVE*/
/* Comunes a varios elementos activados */
#texto.activado,#texto2.activado,#texto1.activado,#texto3.activado,#texto4.activado,#texto5.activado,
#texto6.activado,#texto7.activado,#texto8.activado {
    display: block;
    padding-top: 3px;
    font-size: 1vw;
    font-weight: lighter;
    margin-left: 12px;
    padding-left: 8px;
}
#texto9.activado,#texto10.activado,#texto11.activado,#texto12.activado,#texto13.activado,.suscripcion.activado {
    padding-top: 3px;
    display: block;
    margin-left: 12px;
    padding-left: 8px;
}
.suscripcion.activado{
    padding-bottom: 6px;
}

/* Categorias activadas */
#Trending.activado,#Music.activado,#Live.activado,#Gaming.activado,#News.activado,#Sports.activado,
#Learning.activado,#premium.activado,#studio.activado,#Musica.activado,#kids.activado,#Settings.activado,
#report.activado,#Help.activado,#Send.activado{
    display: block;
    padding-top: 3px;
    margin-left: 12px;
    padding-left: 8px;
}

/* Estilos para iconos */
.chanel,.youtube {
    border-radius: 50%;
    width: 30px !important;
}

.youtube {
    width: 40px !important;
    padding: 0px !important;
}
#about-final.active{
    display: block;
    padding-top: 3p;
    font-size: 14px;
    cursor: pointer;
    padding-left: 8px;
}
.menu-lateral::-webkit-scrollbar, .play-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}


.menu-lateral a img{
    width: 25px;
}
.menu-lateral a{
    display: flex;
    padding: 8px 9px;
    color: black;
    margin-bottom: 7px;
    width: 90%;
}
.menu-lateral a:hover{
    background: #e5e5e5;
    border-radius: 20px;
}
.menu-lateral hr{
    margin: auto;
    height: 1px;
    background: #838080;
    width: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu-lateral a.active{
    background: #e5e5e5;
    font-weight: bold;
    border-radius: 20px;
}

.play-container{
    grid-column: 2/3;
    overflow-y: auto;
}

/*DIVISION GRANDE*/
#division-grid{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 80% 20%;
}

/*VIDEO GRANDE*/
#video-left{
    grid-column: 1/2;
    margin-top: 90px;
    margin-left: 8px;
}

/*VIDEO INFORMACION*/
.play-video .tags a{
    color: #0000ff;  
    font-size: 13px;
  }
  
  .play-video h3{
      font-weight: 600;
      font-size: 22px;
  }
  
  .play-video .play-video-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 10px;
      font-size: 14px;
      color: #5a5a5a;
  }
  
  .play-video .play-video-info a img{
      width: 20px;
      margin-right: 8px;
  }
  
  .play-video .play-video-info a{
      display: inline-flex;
      align-items: center;
      margin-left: 15px;
  }
  
  .play-video hr{
      border: 0;
      height: 1px;
      background: #ccc;
      margin: 10px 0;
  }
  
  .publisher{
      display: flex;
      align-items: center;
      margin-top: 20px;
  }
  
  .publisher div{
      flex: 1;
      line-height: 18px;
  }
  
  .publisher img{
      width: 40px;
      border-radius: 50%;
      margin-right: 15px;
  }
  
  .publisher div p{
      color: #000;
      font-weight: 600;
      font-size: 18px;
  }
  
  .publisher div span{
      font-size: 13px;
      color: #5a5a5a;
  }
  
  .publisher button{
      background: red;
      color: white;
      padding: 8px 30px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
  }
  
  .publisher button:hover{
      background: transparent;
      color: red;
      border: 1px solid red;
  }
  
  .vid-description{
      padding-left: 55px;
      margin: 15px 0;
  }
  
  .vid-description p{
      font-size: 14px;
      margin-bottom: 5px;
      color: #5a5a5a;
  }
  
  .vid-description h4{
      font-size: 14px;
      color: #5a5a5a;
      margin-top: 15px;
  }
  
  .add-comment{
      display: flex;
      align-items: center;
      margin: 30px 0;
  }
  
  .add-comment img{
      width: 35px;
      border-radius: 50%;
      margin-right: 15px;
  }
  
  .add-comment input{
      border: 0;
      outline: 0;
      border-bottom: 1px solid #ccc;
      width: 100%;
      padding-top: 10px;
      background: transparent;
  }
  
  .old-comment{
      display: flex;
      align-items: center;
      margin: 20px 0;
  }

  .old-comment div{
    font-size: 13px;
  }
  
  .old-comment img{
      width: 35px;
      border-radius: 50%;
      margin-right: 15px;
  }
  
  .old-comment h3{
      font-size: 14px;
      margin-bottom: 2px;
  }
  
  .old-comment h3 span{
      font-size: 12px;
      color: #5a5a5a;
      font-weight: 500;
      margin-left: 8px;
  }
  
  .old-comment .comment-action{
      display: flex;
      align-items: center;
      margin: 8px 0;
      font-size: 14px;
  }
  
  .old-comment .comment-action img{
      border-radius: 0;
      width: 20px;
      margin-right: 5px;
  }
  
  .old-comment .comment-action span{
      margin-right: 20px;
      color:#5a5a5a;
  }
  
  .old-comment .comment-action a{
      color: #0000ff;
  }
  .informacion{
    margin-top: 25px;
  }

  /*VIDEOS BARRA DERECHA*/
  .videos.sidebar{
    grid-column: 2/3;
  }

  .right-sidebar{
    flex-basis: 30%;
}

.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img{
    width: 100%;
}

.side-video-list .small-thumbnail{
    flex-basis: 49%;
}

.side-video-list .vid-info{
    flex-basis: 49%;
}


/*MEDIA QUERYS*/
@media screen and (max-width: 1440px){
    .menu-lateral{
        padding-left: 0.5vw;
        padding-right: 0
    }
}
@media screen and (max-width: 806px){
    #icono{
        display: none;
    }
    .menu-lateral{
        display: none;
    }
    .container{
        grid-column: 1/3;
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .mic-icon{
        display: none;
    }
    .nav-left .logo{
        width: 90px;
    }
    .menu-lateral{
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .nav-right .user-icon{
        display: none;
    }
    .container{
        padding-left: 12px;
    }
    .list-container{
        padding-left: 5px;
    }
    .nav-middle .search-box{
        margin-right: 2px;
    }
    .nav-left .menu-icon{
        margin-right: 12px;
    }
    .nav-left .logo{
        width: 70px;
    }
}